<%= form_for @linkset, :html => { :class => "form-horizontal linkset" } do |f| %>

<div class="columns">
    <% if @linkset.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@linkset.errors.count, "error") %> prohibited this linkset from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @linkset.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
      <div class="column is-12">
          <div class="control-material is-secondary has-icon">
              <%= f.text_field :name, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= f.label :name %>
          </div>


          <div class="control-material is-secondary">
            <%= f.label :destinations, "Select Destinations" %>
            <div class="mt-5"></div>
              <%= f.select :destinations, Destination.all.collect { |destination| [destination.name, destination.id] }, { include_blank: 'Select Destination' }, class: 'chosen-select' %>
          </div>


          <div style="padding-left: 160px;padding-bottom:20px">
                <button class="btn btn-primary" onclick="showDestFields()">Log-In</button>
                <script>
                    function showDestFields() {
                        document.getElementById("destinationFields").style.display = "block";
                    }
                </script>
            </div>

          <%= f.fields_for(:destinations, @linkset.destinations.build, style: 'display: none;', id: 'destinationFields') do |destinations_fields| %>
          <div class="control-material is-secondary has-icon" >
              <%= destinations_fields.text_field :name, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= destinations_fields.label :name %>
          </div>
          <div class="control-material is-secondary has-icon">
              <%= destinations_fields.text_field :url, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= destinations_fields.label :url %>
          </div>

          <% end %>
          <div class="control-material is-secondary has-icon">
              <%= f.collection_check_boxes :source_ids, Source.all, :id, :name %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <label>Sources</label>
          </div>

          <%= f.fields_for :sources, @linkset.sources.build do |sources_fields| %>
          <div class="control-material is-secondary has-icon">
              <%= sources_fields.text_field :name, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= sources_fields.label :name %>
          </div>
          <div class="control-material is-secondary has-icon">
              <%= sources_fields.text_field :url, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= sources_fields.label :url %>
          </div>
          <div class="control-material is-secondary has-icon">
              <%= sources_fields.text_field :medium, :class => 'material-input' %>
              <span class="material-highlight"></span>
              <span class="bar"></span>
              <%= sources_fields.label :medium %>
          </div>
          <% end %>
<%= f.hidden_field :campaign_id %>


          <div class="has-text-centered mt-30">
            <%= f.submit nil, :class => 'button btn-dash secondary-btn is-raised is-fullwidth rounded no-lh' %>
          </div>
      </div>

  </div>

<% end %>
