<%= form_for @linkset, :html => { :class => "form-horizontal linkset" } do |f| %>

  <% if @linkset.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@linkset.errors.count, "error") %> prohibited this linkset from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @linkset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" >Select destinations</label>
    <div class="col-lg-10">
      <%= f.collection_check_boxes :destination_ids, Destination.all, :id, :name %>
    </div>
  </div>

    <%= f.fields_for :destinations, @linkset.destinations.build do |destinations_fields| %>
    <div class="form-group">
      <%= destinations_fields.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= destinations_fields.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= destinations_fields.label :url, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= destinations_fields.text_field :url, :class => 'form-control'  %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-2" >Select sources</label>
      <div class="col-lg-10">
        <%= f.collection_check_boxes :source_ids, Source.all, :id, :name %>
      </div>
    </div>
    <% end %>

      <%= f.fields_for :sources, @linkset.sources.build do |sources_fields| %>
      <div class="form-group">
        <%= sources_fields.label :name, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= sources_fields.text_field :name, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= sources_fields.label :medium, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= sources_fields.text_field :medium, :class => 'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <%= sources_fields.label :url, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= sources_fields.text_field :url, :class => 'form-control'  %>
        </div>
      </div>


    <% end %>
    <%= f.hidden_field :campaign_id %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tenant_campaign_path(tenant_id: Tenant.current_tenant_id,
            id: @linkset.campaign_id), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
