<div class="page-header">
  <h3>Destinations for Linkset <%= @linkset.name %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @linkset_destinations.each do |linkset_destination| %>
      <tr>
        <td><%= linkset_destination.name %></td>
        <td>
            <%= link_to "Remove", destination_linkset_path(linkset_destination.destination_linksets.find_by(linkset_id: @linkset.id)),
                                  :method => :delete,
                                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                  :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Destinations to add to Linkset <%= @linkset.name %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @other_destinations.each do |other_destination| %>
      <tr>
        <td><%= other_destination.name %></td>
        <td>
          <%= link_to 'Add',
                      add_destination_linkset_path(id: @linkset.id, destination_id: other_destination.id),
                      :method => :put,
                      :class => 'btn btn-xs btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', linkset_path(id: @linkset.id),
                      :class => 'btn btn-primary' %>
