<%- model_class = Link -%>

<!-- Profile notifications -->
<div id="profile-notifications" >
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
                <div class="title is-3 padding-20">Links</div>
                <div class="card-body">
                    <% if links.size > 0 %>
                    <ol class="notifications-center">
                        <!-- Notification item -->
                        <% links.each do |link| %>
                        <li>
                            <div class="icon is-hidden-mobile">
                                <i class="fa fa-link"></i>
                            </div>
                            <div class="description">
                                <b>Link to:</b> <%= link.destination_linkset.destination.url %> <br/>
                                <b>From:</b> <%= link.source_linkset.source.name %>, <%= link.source_linkset.source.medium %>
                            </div>
                            <div class="controls is-hidden-mobile">
                              <script>
                              var clipboard = new ClipboardJS('.btn');

                                  clipboard.on('success', function(e) {
                                    console.info('Action:', e.action);
                                    console.info('Text:', e.text);
                                    console.info('Trigger:', e.trigger);
                                    e.clearSelection();
                                  });

                                  clipboard.on('error', function(e) {
                                    console.error('Action:', e.action);
                                    console.error('Trigger:', e.trigger);
                                  });
                                </script>
                              <!-- Target -->
                              <div class="field">

                                    <input id="attrLink<%= link.id %>" class="input is-disabled" type="text" placeholder="Disabled input" value="<%= generate_atrributed_link(link) %>" >
                            </div>

<!-- Trigger -->
<button class="btn icon" data-clipboard-target="#attrLink<%= link.id %>">
  <i class="fa fa-clone"></i>
</button>
                            </div>
                        </li>
                        <% end %>
                        <!-- Notification item -->
                    </ol>
                    <!-- Load more -->
                    <div class="has-text-centered mt-40">
                        <button class="button btn-dash is-raised accent-btn rounded ripple no-lh">Load more</button>
                    </div>
                    <% else %>

                    <p class="lead">You don't have any links</p>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Profile notifications -->
