<!-- Edit form -->
<%= form_for [@tenant, @campaign], :html => { :class => "m-form" } do |f| %>
    <div class="m-grid m-grid--ver-desktop m-grid--desktop">
      <% if @campaign.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @campaign.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
        <div class="m-grid__item m-grid__item--middle">
            <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                <%= f.text_field :title, :class => 'form-control form-control-lg m-input m-input--pill', :placeholder => :title %>


            </div>

            <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                <%= f.text_field :description, :class => 'form-control form-control-lg m-input m-input--pill', :placeholder => :description %>
                <!-- <span class="m-input-icon__icon m-input-icon__icon--right">
                  <span>
                    <i class="fa fa-calendar"></i>
                  </span>
                </span> -->
            </div>
            <div class="control-material">
                <%= f.hidden_field :tenant_id, value: params[:tenant_id], :class => 'form-control' %>
            </div>
          </div>
          <div class="m-grid__item m-grid__item--middle">
              <div class="m--margin-top-20 m--visible-tablet-and-mobile"></div>
              <%= f.submit nil, :class => 'btn m-btn--pill m-subheader-search__submit-btn' %>
          </div>

    </div>
<% end %>
<!-- /Edit form -->
