<%- model_class = Campaign -%>

<div class="page-header">

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>

<% if @campaigns.size > 0 %>
<% @campaigns.each do |campaign| %>

<!-- Feed item with featured image -->
<div class="post-item animated preFadeInLeft fadeInLeft">
    <!-- <div class="is-flex is-start is-vcenter padding-10">
        <div class="item-title">Created by <a href="#" class="ml-5"><%= campaign.users.first.email %></a> <br><span class="feed-time-small"><%= time_ago_in_words(campaign.created_at) %></span></div>
    </div> -->
    <div class="is-flex is-start is-vcenter">
        <p>
            <span class="post-title"><%= link_to campaign.title, tenant_campaign_path(campaign, tenant_id: @tenant.id), class: 'main-link' %></span>
            <br><%= campaign.description %>
        </p>
    </div>

    <div class="is-flex is-start is-vcenter padding-10">

        <div class="is-flex is-start is-vcenter feed-item-footer">
            <div class="counter-block">
                <span class="fa fa-globe"></span>
                <div class="rating-counter small"><%= count_sources(campaign.linksets) %></div>
            </div>
            <div class="counter-block">
                <span class="fa fa-link"></span>
                <div class="rating-counter small"><%= count_links(campaign.linksets) %></div>
            </div>
            <div class="counter-block">
                <span class="fa fa-bullseye"></span>
                <div class="rating-counter small"><%= count_destinations(campaign.linksets) %></div>
            </div>
        </div>

    </div>

</div>
<!-- Feed item with featured image -->

<% end %>
<% else %>

<p class="lead">You don't have any campaigns</p>

<% end %>



  <% if (@tenant.can_create_campaigns?) %>

    <%= link_to 'New Campaign',
    new_tenant_campaign_path(tenant_id: @tenant.id),
    :class => 'button btn-dash secondary-btn is-raised is-fullwidth rounded no-lh' %>

  <% end %>
