<%- model_class = Campaign -%>
<!-- Profile page wrapper -->
<!-- /Profile with cover -->
<div class="profile-container">
            <!-- Profile with cover -->
            <div id="profile-cover" class="columns">
                <div class="cover-overlay"></div>
                <div class="column is-10 is-offset-1 heading-wrapper">
                    <div class="profile-heading">
                        <div class="columns">
                            <div class="column is-1">

                            </div>
                            <div class="column is-5 name">
                                <p>
                                    <span class="title light-text is-bold"><%= @campaign.title %></span>
                                </p>
                                <p class="tagline light-text"><%= @campaign.description %></p>
                                <div>
                                  <%= link_to new_linkset_path(campaign_id: @campaign.id),
                                              :class => 'button dash-btnprimary-btn follow rounded width-200' do %>
                                        <i class="fa fa-check"></i>New Linkset
                                    <% end %>
                                </div>
                            </div>
                            <div class="column is-2 followers has-text-centered is-hidden-mobile">
                                <p class="stat-val"><%= @campaign.linksets.count %></p>
                                <p class="stat-key">Linksets</p>
                            </div>
                            <div class="column is-2 following has-text-centered is-hidden-mobile">
                                <p class="stat-val">
                                <%= count_links(@campaign.linksets) %>
                                </p>
                                <p class="stat-key">Links</p>
                            </div>
                            <div class="column is-2 likes has-text-centered is-hidden-mobile">
                                <p class="stat-val"><%= count_destinations(@campaign.linksets) %></p>
                                <p class="stat-key">Destinations</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Profile menu FAB -->
                <div class="profile-fab">
                    <div class="fab-wrapper">
                        <button id="show-team" class="notifications fab-btn mini ripple" data-toggle="tooltip" data-placement="left" data-title="Linksets">
                            <i class="material-icons">link</i>
                        </button>
                        <%= link_to users_tenant_campaign_path(tenant_id: @campaign.tenant_id, id: @campaign.id), :class => 'team fab-btn mini' do %>
                            <i class="material-icons">people</i>
                        <% end %>

                        <button id="show-details" class="details fab-btn mini ripple" data-toggle="tooltip" data-placement="top" data-title="Profile">
                            <i class="material-icons">settings</i>
                        </button>
                        <button id="profile-fab-trigger" class="fab-btn pop-fab">
                            <span class="profile-menu-wrapper">
                                <span class="icon-box-toggle">
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i>
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
                <!-- /Profile menu FAB -->
            </div>
            <!-- /Profile with cover -->

            <!-- Profile Sections -->
            <div class="container">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <div class="profile-sections-wrapper">
                            <!-- Profile details -->
                            <div id="profile-details" class="is-hidden">
                                <div class="columns">
                                    <!-- Details sub view -->
                                    <div id="profile-view" class="column is-10 is-offset-1">
                                        <div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
                                          <div class="edit-button edit-trigger has-text-left">
                                              <button class="button btn-dash secondary-btn raised ripple no-lh rounded">Edit campaign</button>
                                          </div>
                                          <% if false %>
                                                <%= link_to "Edit campaign", edit_tenant_campaign_path(campaign: @campaign, tenant: @campaign.tenant_id), :class => 'button btn-dash secondary-btn raised no-lh' %>
                                          <% end %>
                                            <div class="card-body">
                                                <div class="columns">
                                                    <div class="column is-6">
                                                        <div class="info-section">
                                                            <h1 class="info-heading">Campaign info</h1>
                                                            <div class="info-divider"><span></span></div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Title :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description highlighted">
                                                                            <%= @campaign.title %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Slug :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description highlighted">
                                                                            <%= @campaign.title.parameterize %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Created :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description">
                                                                            <%= time_ago_in_words(@campaign.created_at) %> ago
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Created by :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description">
                                                                            <%= @campaign.users.first.email %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="info-section">
                                                            <h1 class="info-heading">Admin info</h1>
                                                            <div class="info-divider"><span></span></div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Email :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description highlighted">
                                                                            <% @campaign.tenant.users.each do |user| %>
                                                                              <% if user.is_admin? %>
                                                                                <%= user.email %>
                                                                              <% end %>
                                                                            <% end %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-6">
                                                        <div class="info-section">
                                                            <h1 class="info-heading">Company info</h1>
                                                            <div class="info-divider"><span></span></div>
                                                            <div class="info-item">
                                                                <div class="columns is-gapless">
                                                                    <div class="column is-5">
                                                                        <div class="info-title">
                                                                            Company :
                                                                        </div>
                                                                    </div>
                                                                    <div class="column is-7">
                                                                        <div class="info-description highlighted">
                                                                            <%= @campaign.tenant.name %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="edit-button has-text-right">
                                                <%= link_to t('.destroy', :default => t("helpers.links.destroy")), tenant_campaign_path(@campaign, @campaign.tenant_id),
                                                      :method => 'delete',
                                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm",
                                                      :default => 'Are you sure?')) },
                                                      :class => 'btn btn-danger' %>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Details sub view -->

                                    <!-- Edit sub view -->
                                    <div id="edit-view" class="column is-10 is-offset-1 is-hidden">
                                        <div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
                                            <div class="edit-button has-text-centered">
                                                <h3 class="title">Edit Profile</h3>
                                                <div class="cross-container edit-trigger">
                                                    <span class="top"></span>
                                                    <span class="bottom"></span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <%= render 'form' %>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit sub view -->
                                </div>
                            </div>
                            <!-- /Profile details -->

                            <!-- Profile team -->
                            <div id="profile-team" >
                                <!-- Team header -->
                                <div class="columns">
                                    <div class="column is-10 is-offset-1">
                                        <div class="flex-card is-top light-bordered raised animated preFadeInUp fadeInUp">
                                            <div class="card-body">
                                                <div class="columns is-vcentered">
                                                    <div class="column is-6">
                                                        <div class="team-logo">
                                                        </div>
                                                    </div>
                                                    <div class="column is-6">
                                                        <div class="team-info">
                                                            <div class="team-number">
                                                                <span><%= @campaign.users.count %></span>
                                                                <% if @campaign.users.count > 1 %>
                                                                  Team members
                                                                  <% else %>
                                                                  Team member
                                                                  <% end %>
                                                            </div>
                                                            <div class="team-avatars">
                                                              <% @campaign.users.each do |user| %>
                                                               <%= link_to image_tag("https://place-hold.it/250x250"), edit_user_registration_path(user) %>
                                                               <% end %>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Team header -->

                                <!-- Team List -->
                                <div class="columns is-vcentered is-multiline animated preFadeInUp fadeInUp">

                                    <%= render 'linksets/list', linksets: @campaign.linksets %>

                                </div>
                                <!-- /Team List -->
                            </div>
                            <!-- /Profile team -->


                        </div>
                    </div>
                </div>
            </div>
            <!-- /Profile Sections -->
</div>
