<%= form_for @destination, :html => { :class => "form-horizontal destination" } do |f| %>
  <div class="m-grid m-grid--ver-desktop m-grid--desktop">
    <% if @destination.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @destination.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
      <div class="m-grid__item m-grid__item--middle">
          <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
              <%= f.text_field :name, :class => 'form-control form-control-lg m-input m-input--pill', :placeholder => :name  %>

          </div>

          <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
              <%= f.text_field :url, :class => 'form-control form-control-lg m-input m-input--pill', :placeholder => :url %>

          </div>
        </div>
        <div class="m-grid__item m-grid__item--middle">

          <div class="m--margin-top-20 m--visible-tablet-and-mobile"></div>
          <%= f.submit nil, :class => 'btn m-btn--pill m-subheader-search__submit-btn' %>
      </div>

  </div>
<% end %>
