<%- model_class = Destination -%>

<div class="page-header">

  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

</div>
<% if destinations.size > 0 %>
  <% destinations.each do |destination| %>

<div class="stats-card-portrait flex-card light-bordered light-raised">
    <div class="vertical-stats has-text-centered">
        <div class="stats-item">
            <div class="stat-name">
                Links
            </div>
            <div class="stat-data">
                <%= destination.destination_linksets.count %>
            </div>
        </div>
        <div class="stats-item">
            <div class="stat-name">
                Edit
            </div>
            <div class="stat-data">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_destination_path(destination), :class => 'btn btn-default btn-xs' %>
            </div>
        </div>
        <div class="stats-item">
            <div class="stat-name">
                Delete
            </div>
            <div class="stat-data">
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              destination_path(destination),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </div>
        </div>
    </div>
    <div class="img-header">
        <div class="img-block has-text-centered">
            <div class="name"><%= link_to destination.name, destination_path(destination), class: 'main-link' %></div>
            <div class="name-details"><%= destination.url %></div>
        </div>
    </div>
</div>

<% end %>


<% else %>

<p class="lead">You don't have any destinations</p>

<% end %>

<%= link_to 'New Destination', new_destination_path,
:class => 'btn btn-primary' %>



<% if @destinations.size > 0 %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col"><%= sortable "title" %></th>
        <th scope="col"><%= sortable "created_at" %></th>
        <th scope="col">Linksets</th>
        <th scope="col">Sources</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <th scope="row"><%= campaign.id %></th>
        <td><%= link_to campaign.title, tenant_campaign_path(campaign, tenant_id: @tenant.id), class: 'main-link' %></td>
        <td><%= time_ago_in_words(campaign.created_at) %> ago</td>
        <td><%= campaign.linksets.count %></td>
        <td><% campaign.linksets.each do |linkset| %>
          <% linkset.sources.each do |source| %>
          <span class="tag squared is-info"><%= source.name %></span>
          <% end %>
        <% end %></td>
        <td><%= link_to "Edit", edit_tenant_campaign_path(campaign, tenant_id: @tenant.id), class: "button is-small btn-align accent-btn raised rounded btn-outlined" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @campaigns %>
<% else %>
  <p class="lead">You don't have any campaigns</p>
<% end %>
