<%= form_for @destination_linkset, :html => { :class => "form-horizontal destination_linkset" } do |f| %>

  <% if @destination_linkset.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@destination_linkset.errors.count, "error") %> prohibited this destination_linkset from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @destination_linkset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :linkset_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :linkset_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:linkset_id) %>
  </div>
  <div class="form-group">
    <%= f.label :destination_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :destination_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:destination_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                destination_linksets_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
