<!-- Main sidebar menu -->
<nav class="main-menu is-dark">
    <div class="main-menu-inner">
        <!-- Side icon menu -->
        <ul>
            <li class="main-logo">
              <%= link_to image_tag('logos/square-green.svg'), root_path %>
            </li>
            <li class="side-icon-link">
              <% if session[:tenant_id] %>
                <%= link_to tenant_campaigns_path(tenant_id: session[:tenant_id]) do %><i class="fa fa-codepen"></i><% end %>
            <% else %>
                <%= link_to tenant_campaigns_path(tenant_id: @tenant.id) do %><i class="fa fa-codepen"></i><% end %>
            <% end %>
            </li>
            <li  class="side-icon-link">
                <%= link_to destinations_path do %><i class="fa fa-bullseye"></i><% end %>
            </li>
            <li class="side-icon-link">
                <%= link_to sources_path do %><i class="fa fa-globe"></i><% end %>
            </li>
            <li class="side-icon" data-child-menu="settings-menu">
                <i class="sl sl-icon-settings"></i>
            </li>
        </ul>
        <!-- /Side icon menu -->

        <!-- /Profile wrapper -->
    </div>
</nav>
<!-- /Main sidebar menu -->
