<!DOCTYPE html>
<html lang="en" >
	<%= render 'layouts/head' %>
    <!-- end::Body -->
	<body  class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
      <%= render 'common/navbar' %>
		<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<% if current_user %>
				<%= render 'common/main_menu_sidebar' %>
				<% end %>
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<% if content_for(:subnav) %>
						<%= yield(:subnav) %>
					<% end %>
					<div class="m-content">
            <%= bootstrap_flash %>
            <%= yield %>
					</div>
				</div>
			</div>
			<!-- end:: Body -->
      <%= render 'common/footer' %>
		</div>
		<!-- end:: Page -->

	    <!-- begin::Scroll Top -->
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->

    <%= javascript_include_tag "application" %>

	</body>
	<!-- end::Body -->
</html>
