<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'common/navbar' %>
    <% if current_user %>
    <%= render 'common/child_push_sidebar_menu' %>
    <%= render 'common/main_menu_sidebar' %>
    <% end %>
    <!-- Main dashboard container -->
    <div id="dashboard-wrapper" class="columns">
        <div class="column"></div>
        <div class="content column is-11">

            <!-- Breadcrumbs -->
            <!-- <nav class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>Dashboard</li>
                </ul>
            </nav> -->
            <!-- /Breadcrumbs -->

            <!-- Dashboard Wrapper -->
            <div class="dashboard-wrapper">

                <div class="columns">
                    <div class="column">
                        <!-- Main content -->
                        <div id="main-dashboard" class="section-wrapper">
                            <!-- Dashboard content -->
                            <div class="columns dashboard-columns">

                              <%= bootstrap_flash %>
                              <%= yield %>

                            </div>
                            <!-- /Dashboard content -->
                        </div>
                        <!-- /Main content -->
                    </div>
                    <!-- /Main view -->
                </div>
            </div>
            <!-- /Dashboard Wrapper -->
        </div>
        <div class="column">
        </div>
    </div>
    <!-- Main dashboard container -->



  </body>
</html>
